<template lang='pug'>
  .container
    .content.has-text-center
      h1 Loading...
</template>

<script>
export default {

}
</script>

<style lang='scss' scoped>
  .content{
    padding: 20px;
    min-height: 40vh;
  }
</style>