<template lang='pug'>
    section.hero.is-success
      .hero-head
        header.nav
          .container
            .navbar-start 
              .navbar-item
                strong 📟 Music
            .navbar-end.navbar-menu
              router-link.navbar-item(to='/') {{ $t('search') }}
              router-link.navbar-item(to='about') {{ $t('about') }}

      .hero-body
        .container.has-text-centered
            h1.title Music
            h2.subtitle Super Good Songs  
            Player    
</template>

<script>
import Player from '@/components/Player'

export default {
  components: { Player }
}
</script>
