<template lang="pug">
  main
    transition(name='move')
      Notification(v-show='showNotification')
        p(slot='body') No results found

    transition(name='move')
      Loader(v-show='isLoading')
    section.section(v-show='!isLoading')
      nav.nav
        .container
          input.input.is-large(
            type='text' 
            placeholder='Find songs' 
            v-model='searchQuery'
            @keyup.enter='search'
          )
          a.button.is-info.is-large(@click='search') Find
          a.button.is-danger.is-large &times;

      .container
        p
          small {{ searchMessage }}

      .container.results
        .columns.is-multiline
          .column.is-one-quarter(v-for='track in tracks')
            Track(
              v-blur='track.preview_url'
              :class="{ 'is-active': track.id === selectedTrack }"
              :track='track'
              @select='setSelectedTrack'
            ) 
</template>

<script>
import trackService from '@/services/track'
import Track from '@/components/Track'
import Loader from '@/components/shared/Loader'
import Notification from '@/components/shared/Notification'
import { setTimeout } from 'timers';

export default {
  name: 'app',
  components: {
    Track,
    Loader,
    Notification,
  },
  data () {
    return {
      searchQuery: '',
      tracks: [],
      isLoading: false,
      selectedTrack: '',
      showNotification: false,
    }
  },
  computed: { //devuelve una variable compuesta que llamas en el HTML
    searchMessage(){
      return `${this.tracks.length} found`
    }
  },
  watch: { //watchers de toda la vida 
    showNotification(){
      if (this.showNotification)
        setTimeout(() => {
          this.showNotification = false
        }, 3000)
    },
  },
  methods: {
    search (){ 
      if (!this.searchQuery)  
        return 

      this.isLoading = true
      trackService.search(this.searchQuery) 
        .then(res => {
          this.showNotification = res.tracks.total === 0
          this.tracks = res.tracks.items
          this.isLoading = false
        })
    },
    setSelectedTrack(id){
      this.selectedTrack = id
    }
  }
};
</script>

<style lang="scss"> //cuando dice scoped es solo del componente
//si no dice scoped se aplica a toda la aplicacion 

  .results{
    margin-top: 50px;
  }

  .is-active{
    border: 3px #23d160 solid;
  }
</style>

