<template lang="pug">
  #app
    Header

    router-view
    
    Footer
</template>

<script>
import Footer from '@/components/layout/Footer'
import Header from '@/components/layout/Header'
import { setTimeout } from 'timers';

export default {
  name: 'app',
  components: {
    Footer,
    Header,
  },
};
</script>

<style lang="scss">
  @import './scss/main.scss';

  .results{
    margin-top: 50px;
  }

  .is-active{
    border: 3px #23d160 solid;
  }
</style>

